@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  margin: 0 140px;
} */

header,
main {
  margin: 0 140px;
}

header {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("images/Banner\ Image.png");
  /* background-image: url("images/Header\ Cover.png"); */
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 50px auto 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h5 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
  opacity: 0.9;
}

header h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  opacity: 0.9;
}

#holiday-deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

#holiday-deals h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
#holiday-deals h5 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}
#holiday-deals h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

#welcome-to-party {
  background-image: url("images/Welcome.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 220px;
}

#welcome-to-party h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin: 126px 0 24px 126px;
}

#welcome-to-party p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 0 0 48px 126px;
}

#welcome-to-party a {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 126px;
}

#welcome-to-party a:hover {
  color: #f00;
}

#event-Details {
  margin-bottom: 220px;
}

#event-Details h3 span {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
}

#event-Details h3 {
  color: #070211;
  font-family: Inter;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

#event-Details a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-top: 48px;
}
#event-Details button {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  background: #f00;
}

#event-Details button:hover {
  background: #d40000;
  cursor: pointer;
}

/* New Best Offer*/

#new-best-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.coming-soon {
  flex: 1;
  margin-right: 70px;
}

.coming-soon h5 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.coming-soon h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.coming-soon p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.nbo-image {
  flex: 1;
}
.nbo-image img {
  width: 100%;
}

.about-nbo {
  flex: 1;
  margin-left: 118px;
}
.about-nbo h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.about-nbo p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 40px;
}

/* holiday sale */

.holiday-sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1068px;
  margin: 0 auto 120px;
}

.holiday-sale h5 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.holiday-sale h1 span {
  color: #f00;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.holiday-sale h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}

.holiday-sale p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

.holiday-sale-image {
  display: flex;
  background-image: url(images/Rectangle\ 2.png), url(images/Discount.png);
  background-repeat: no-repeat;
  background-size: 1640px 229px, 300px;
  width: 1640px;
  height: 600px;
  background-position: bottom left, 1250px 50px;
  margin-bottom: 120px;
}

/* collage section */

#collage h5 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
#collage h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
#collage p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  line-height: 32px; /* 160% */
  margin-bottom: 48px;
  max-width: 896px;
}

.collage-images img {
  display: block;
  width: 530px;
}

.collage-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 24px;
  column-gap: 24px;
  margin-bottom: 120px;
}

/* subscribe-newsletter styles */

#subscribe-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  padding: 80px 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

#subscribe-newsletter h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 40px 0 24px;
}
#subscribe-newsletter p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  line-height: 32px; /* 160% */
  margin-bottom: 48px;
  width: 896px;
}

#subscribe-newsletter input {
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  border-radius: 50px 0 0 50px;
  background: #fff;
  border: none;
  padding: 25px 0 25px 30px;
}

#subscribe-newsletter button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 0 50px 50px 0;
  background: #f00;
  padding: 24px 56px;
  margin-left: -4px;
}

#subscribe-newsletter button:hover {
  background: #d40000;
  cursor: pointer;
}

/* footer style */
footer {
  background: #070211;
  height: 609px;
  padding: 120px 160px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  border-bottom: #ffffff 1px solid;
  padding-bottom: 50px;
}

.footer-info p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo img {
  margin-right: 16px;
}

.footer-social-links {
  display: flex;
  margin: 48px 0;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer-legal {
  display: flex;
  justify-content: space-between;
  border-top: #ffffff 1px solid;
  padding-bottom: 50px;
}

.footer-legal p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  margin-top: 50px;
}
